html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: helvetica, sans-serif;
}

main h1 {
  font-size: 3rem;
  font-weight: bold;
}

main {
  position: relative;
  top: 4rem;
}

#header-images {
  display:none;
}

#courses-section #course-buttons {
  display: none;
}

/*header*/




header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: white;
  z-index: 2;
  width: 100%;
  border-bottom: 2px solid black;
}

#logo img {
  height: 4rem;
}

#name {
  display:flex;
  align-items: center;
}

#name h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

#main-heading {
  display: inline-flex;
  margin-left: 1.5rem;
}

span {
  color: #c4c4c4;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav ul {
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-flex;
  padding: 1rem 0.5rem;
  transition: background-color 0.25s ease-in 0s;
}

ul li:hover {
  background-color: #ddd;
}

ul li:first-child {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}




/*introduction*/




#introduction {
  background-color: #c4c4c4;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

#introduction img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin: 0 1rem;
}

#introduction .headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #444;
  width: 40%;
  padding: 1.5rem;
}

#introduction .headings h1, #introduction .headings p{
  margin: 1rem 0;
}

#introduction .headings p {
  font-size: 2rem;
  font-weight: bolder;
}


#introduction .headings .button {
  background-color: #333;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  max-width: 100%;
  border-radius: 9px;
  transition: background-color 0.1s ease-in-out 0s;
}

#introduction .headings .button a {
  text-decoration: none;
  color: white;
}

#introduction .headings .button:hover {
  background-color: #777777;
}



/* middle section */




#middle-section {
  display: flex;
  background-color: #f6f6f6;
}

#middle-section #quote-section {
  width: 60%;
}



/*quote section*/




#quote-section .image {
  margin: 2rem;
}

#quote-section .image img {
  max-width: 100%;
}

#quote-section .headings {
  margin: 0 2rem;
}

#quote-section .headings p {
  line-height: 1.5;
}

.source {
  font-weight: bold;
}



/*info section*/



#info-section {
  display: flex;
  width: 40%;
  flex-direction: column;
}

#info-section .info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

#info-section .info .text h2 {
  margin: 0.5rem 0;
}

#info-section .info .image {
  margin: 1rem;
}

#info-section .info .image .landscape {
  display: none;
}

.info {
  display: flex;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#info-section .info a {
  text-decoration: none;
  font-weight: bold;
  color: #87ceeb;
}




/* courses section */

#courses-section {
  background-color: #f1f1f1;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#courses-section h1 {
  text-align: center;
  padding: 3rem 0;
  margin: 0;
}

#courses {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2rem;
  width: 75%
}

#courses-section .course {
  margin: 2rem 1rem;
  width: 17rem;
}

#courses-section .course img {
  max-width: 100%;
}

#courses-section .course .course-info {
  background-color: white;
  padding: 1rem;
  height: 14rem;
}

#courses-section .course .course-info h2 {
  margin: 0;
  padding: 1rem 0;
}

#courses .course .course-info p {
  line-height: 1.6;
}

.uppercase {
  text-transform: uppercase;
}



/*thesis exhibit*/



#thesis-exhibit {
  background-color: #f6f6f6;
}

#thesis-exhibit h1 {
  text-align: center;
  margin: 0;
  padding: 3rem 0;
}

#thesis-exhibit .container {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

#thesis-exhibit .container .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-text {
  width: 80%;
}

#left-text p, .right .text p {
  line-height: 1.5;
}

#thesis-exhibit .container .right {
  width: 40%;
}

#thesis-exhibit .container .right .sub-section {
  display: inline-flex;
}


.right .sub-section img {
  padding: 1rem;
}


.right .sub-section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right .sub-section .text h2 {
  margin: 0;
}

#thesis-exhibit .container .left video {
  width: 90%;
}

#fisma {
  background-color: #ccc;
}

#fisma .text {
  margin: 1rem;
}


#fisma, #now-and-then {
  width: 100%;
}


/* footer */



footer {
  position: relative;
  top: 4rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
}

#copyright {
  margin-left: 2rem;
}



/* media queries */



@media only screen and (max-width: 1240px) {
  #thesis-exhibit .container {
    flex-direction: column;
    align-items: center;
  }

  #thesis-exhibit .container .left {
    width: 90%;
  }

  #thesis-exhibit .container .right {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }

  #thesis-exhibit .container .sub-section {
    width: 45%;
    flex-direction: column;
  }

  #now-and-then .text {
    margin: 1rem;
  }

  #thesis-exhibit .container .right img {
    height: auto;
    object-fit: contain;
  }

}


@media only screen and (max-width: 1200px) {
  #middle-section {
    flex-direction: column;
    align-items: center;
  }

  #info-section, #quote-section {
    width: 65%;
    margin-top: 2rem;
  }

  #info-section .info {
    border: none;
    justify-content: flex-start;
  }

}


@media only screen and (max-width: 1032px) {
  body h1 {
    font-size: 2rem;
  }

  #introduction .headings p {
    font-size: 1.5rem;
  }

}


@media only screen and (max-width: 840px) {
  #main-heading, header nav {
    display: none;
  }

  #header-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #header-images a {
    display: flex;
    align-items: center;
  }

  #header-images a img {
    width: 2rem;
    height: auto;
  }


  #introduction {
    flex-direction: column;
  }

  #introduction .headings {
    width: 75%;
    text-align: center;
    align-items: center;
    padding: 1rem;
  }

  #introduction .headings h1 {
    margin: 0;
  }


  #courses-section #courses {
    display: none;
  }

  #courses-section #course-buttons {
    display: block;
  }

  #courses-section #course-buttons .course-button a {
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  #course-buttons .course-button {
    background-color: #ccc;
    padding: 1.5rem 3rem;
    margin-bottom: 1rem;
  }

  #info-section .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
  }

  #info-section .info .text h2 {
    margin: 0;
  }

  #info-section .info .text p {
    margin: 0.5rem 0;
  }

  #info-section {
    width: 100%;
    margin-bottom: 2rem;
  }


}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 0.9rem;
  }

  footer nav {
    display: none;
  }

  #introduction img {
    width: 100%;
    margin: 0;
  }

  #introduction {
    padding: 0;
  }

  #quote-section {
    display: none;
  }


  #info-section {
    width: 100%;
  }

  .info {
    border: none;
    flex-direction: column;
    align-items: center;
  }

  #thesis-exhibit .container {
    margin: 0;
    width: 100%;
  }

}



@media only screen and (max-width: 480px) {
  #introduction .headings {
    width: 90%;
    text-align: left;
  }

  #introduction .headings .button {
    width: 100%;
    padding: 1rem 0 1rem 0;
  }

  #info-section .info .text, #info-section .info .image {
    width: 90%;
  }

  #info-section .info .image .landscape {
    display: flex;
    max-width: 100%;
  }

  #info-section .info .image .portrait {
    display: none;
  }

  #info-section .info .image, #info-section .info .text {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  #info-section .info .text {
    text-align: left;
  }

  #info-section .info .text h2,
  #info-section .info .text p,
  #info-section .info .text a {
    padding: 0 1rem;
  }

  #thesis-exhibit .container .left, #thesis-exhibit .container .left video {
    width: 100%;
  }

  #thesis-exhibit .container .right, #thesis-exhibit .container .left #left-text {
    display: none;
  }

}
